version: '3.3'
services:
  web:
    restart: always
    image: andrenq/java_apps:trading_app
    container_name: trading-app
    ports:
      - 8080:8080
    environment:
      - "RDS_HOSTNAME=${RDS_HOSTNAME}"
      - "RDS_DB_NAME=${RDS_DB_NAME}"
      - "RDS_PORT=${RDS_PORT}"
      - "RDS_USERNAME=${RDS_USERNAME}"
      - "RDS_PASSWORD=${RDS_PASSWORD}"
      - "IEX_TOKEN=${IEX_TOKEN}"
    links:
      - db
    depends_on:
      - db
  db:
    restart: always
    container_name: jrvs-psql
    image: andrenq/java_apps:jrvs-psql
    volumes:
      - ./sql_ddl/init_db.sql:/docker-entrypoint-init_db.d/
      - ./sql_ddl/schema.sql:/docker-entrypoint-init_db.d/
    environment:
      - "POSTGRES_PASSWORD=${RDS_PASSWORD}"
      - "POSTGRES_USER=${RDS_USERNAME}"
      - "POSTGRES_DB=${RDS_DB_NAME}"
      - PGDATA=/var/lib/postgresql/data/pgdata
    ports:
      - 5432:5432
volumes:
  sql_ddl: {}
